html, body {
    height: 100vh;
  }

#box
{
    min-height: 100vh;
    height: 100vh;
}

.container-fluid
{
    background-color: aqua;
}

#titlebar
{
    width: 95%;
    color: white;
    border-radius: 5vw;
    background-color: red;
}

#mode
{
    font-size: 2.2vw;
    background-color: blue;
}

#board
{
    background-color: bisque;
}

#board-box
{
    height: 100%;
    width: 100%;
}

.tile
{
    background-color: pink;
}

#scoreboard
{
    color: white;
    font-size: 2.7vw;
    background-color: blueviolet;
}

.modebtn
{
    width: 50%;
    color:white;
    font-size: 1.5vw;
    border: 2px solid white;
    border-radius: 25px;
}

#modetitle
{
    color: white;
}

.tilebtn
{
    height: 11.2vw;
    width: 100%;
    color: white;
    font-size: 6vw;
    border-radius: 10px;
    background-color: black;
}